{%extends 'base.html'%}
{% block content%}
<style>
.body-holder{
          width: 100%;
          height: 88vh;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
}
.error-pane{
    display: flex;
    border-radius: 6px;
    text-align: center;
    justify-content: center;
    padding: 8px;
    background-color: #ffb2b2;
}

</style>
<div class="body-holder">
    <form method="POST" action = "{% url 'create' %}" enctype="multipart/form-data" class="form-signin">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Uplad Post</h1>
        {% if error %}
            <div class="error-pane">
                <p style="margin: 0;padding: 0;">{{error}}</p s>
            </div><br>
        {% endif %}
        <input type="file" name="image">
        <br><br>
        <label for="inputEmail" class="sr-only">Tag line</label>
        <input name="tag" type="text" id="inputEmail" class="form-control" placeholder="Type tag here" required autofocus>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
    </form>
</div>
{%endblock%}